<!-- cart with content -->
<div class="container border border-primary m-5">
    <div class="row text-center m-5" >
        <div class="col">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk3JWzobCOowT4pj-l-R_j9aZ7XAW4_rI9vQ&usqp=CAU"  width="200px"alt="">
            <h3 class="mt-3">your cart is empty</h3>
            <a routerLink="/" class="btn btn-outline-primary">shop now</a>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col">
            <table class="table border m-5 border-dark">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Descrition</th>
                        <th>Action</th>
                        <th>Price</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>100</td>
                        <td>mens t shirt</td>
                        <td><img height="200px"
                                src="https://assets.ajio.com/medias/sys_master/root/20220411/p7FE/6253e740f997dd03e25464e3/-473Wx593H-461996628-green-MODEL.jpg">
                        </td>
                        <td>Lorem ipsum dolor sit, amet volsumenda quo placeat similique qui ipsum ea.</td>
                        <td><i class="'fa fa-trash"></i></td>
                        <td>500</td>
                    </tr>
                </tbody>
            </table>
            <div style="float:right" class="mb-5">
                <button class="btn btn-danger">empty cart</button> &nbsp;
                <button class="btn btn-primary">shop more</button> &nbsp;
                <button class="btn btn-sucess">check out</button> &nbsp;
                <b>grand total 500</b>
            </div>
        </div>
    </div>
</div>